.review-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 700px;
}

.review-card-inner {
  display: block;
  padding: 0 20px;
}

.review-card hr {
  margin: 20px auto;
  width: 300px;
  color: #d8dee980;
}

.review-card-text {
  font-style: italic;
  text-align: center;
  font-size: 24px;
}